{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="login-container">
        <label for="username">{{ 'Username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
        <div>
            <input class="login login-submit" type="submit" value="{{ 'Submit'|trans }}" />
        </div>
    </div>
</form>
